#home {
    
            position: fixed;
            bottom: 0px;
            right: 0px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: lightgray;
            color: white;
            cursor: pointer;
            padding: 12px;
            border-radius: 4px;
  }
#home:hover {
                background-color: #555;
            }

#back {
    
            position: fixed;
            bottom: 0px;
            right: 49px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: lightgray;
            color: white;
            cursor: pointer;
            padding: 12px;
            border-radius: 4px;
  }
#back:hover {
                background-color: #555;
            }


/*#menu li { margin: 0 }
#menu a { color: inherit }
#menu { position: absolute }
*>#menu { position: fixed }
p.stb { text-indent: 0; margin-top: 0.83em }
p.mtb { text-indent: 0; margin-top: 2.17em }
p.ltb { text-indent: 0; margin-top: 3.08em }*/